<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style-cadastro.css" />

    <title>Cadastro</title>
    <style>
      header {
        padding: 2.5rem 0;
        background-color: red;
        background-image: url("../img/pokedex-3d-logo.png");
        background-position: center;
        background-size: 45vmax;
        background-repeat: no-repeat;
        width: 100%;
      }
      .btn {
        height: 1vmax;
        width: 5vmax;
        text-decoration: none;
        pointer-events: auto;
        cursor: pointer;
        background: white;
        padding: 1.5vmax 3vmax;
        margin: 0 2.5rem;
        font-family: "Press Start 2P", cursive, Arial, Helvetica, sans-serif;
        font-size: 1.1vmax;
        position: relative;
        display: flex;
        justify-content: center;
        color: red;
      }

      .btn::before,
      .btn::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .btn--pan {
        font-family: "Press Start 2P", cursive, Arial, Helvetica, sans-serif;
        font-weight: 700;
        border: 3px solid black;
        border-radius: 3vmax;
        overflow: hidden;
      }

      .btn--pan span {
        position: relative;
        mix-blend-mode: difference;
      }

      .btn--pan::before {
        content: "";
        background: rgba(255, 0, 0, 0.904);
        transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
      }

      .btn--pan:hover::before {
        transform: scale(1.5) translate3d(0, -100%, 0);
      }
      .btn--pan:hover {
        color: whitesmoke;
      }
      .btn a {
        text-decoration: none;
      }
      @media screen and (max-width: 480px) {
      }
    </style>
    <script>
      const inputVazio = document.querySelector("#imp");
      const msg = document.querySelector("#ul");
      form.addEventListener("submit", (Event) => {
        Event.preventDefault();
        const limpo = inputVazio.ariaValueMax.trim();
        if (!limpo) {
          msg.innerHTML = `<li class="aviso">Por favor,digite um termo válido</li>`;
        }
      });
    </script>
  </head>
  <body>
    <header>
      <a class="btn btn--pan" href="/"><span>Home</span></a>
    </header>
    <main>
      <section id="cadastro">
        <h2>Cadastre um Pokemon</h2>
        <form id="form" action="/create" method="post">
          <label for="nome">Name</label>
          <input id="imp nome" type="text" name="nome" required/>

          <label for="numero">Id</label>
          <input id="imp numero" type="text" name="numero" required/>

          <label for="tipo">Type</label>
          <input id="imp tipo" type="text" name="tipo" required/>

          <label for="altura">Height</label>
          <input id="imp altura" type="text" name="altura" required/>

          <label for="peso">Weight</label>
          <input id="imp peso" type="text" name="peso" required/>

          <label for="habilidade">Abilitie</label>
          <input id="imp habilidade" type="text" name="habilidade" required/>

          <label for="categoria">Category</label>
          <input id="imp categoria" type="text" name="categoria" required/>

          <label for="descricao">Description:</label>
          <input id="imp descricao" type="text" name="descricao" required/>

          <label for="imagem"> Image Link</label>
          <input id="imp imagem" type="text" name="imagem" required/>
          <ul id="ul"></ul>

          <button id="btnCadastrar" type="submit">
            <span>Register</span>
          </button>
        </form>
      </section>
    </main>
    <footer></footer>
  </body>
  <script src="./js/script.js"></script>
</html>
