<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style-cadastro.css" />

    <title>Cadastro</title>
    <style>
      header {
        padding: 5vh;
        background-color: red;
        background-image: url("../img/pokedex-3d-logo.png");
        background-position: center;
        background-size: 40%;
        background-repeat: no-repeat;
      }
      .voltar {
        max-height: 1vmax;
        width: 5vmax;
        text-decoration: none;
        pointer-events: auto;
        cursor: pointer;
        background: #e7e7e7;
        border: none;
        padding: 1.5vmax 3vmax;
        margin: 0;
        font-family: "Press Start 2P", cursive, Arial, Helvetica, sans-serif;
        font-size: 1vmax;
        position: relative;
        display: flex;
        color: red;
      }

      .voltar::before,
      .voltar::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .voltar--pan {
        font-family: "Press Start 2P", cursive, Arial, Helvetica, sans-serif;
        font-weight: 700;
        border: 3px solid black;
        border-radius: 3vmax;
        overflow: hidden;
      }

      .voltar--pan span {
        position: relative;
        mix-blend-mode: difference;
      }

      .voltar--pan::before {
        content: "";
        background: rgba(255, 0, 0, 0.904);
        transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
      }

      .voltar--pan:hover::before {
        transform: scale(1.5) translate3d(0, -100%, 0);
      }
      .voltar--pan:hover {
        color: whitesmoke;
      }
    </style>
  </head>
  <body>
    <header>
      <a href="/" class="voltar voltar--pan"><span>Voltar</span></a>
    </header>
    <main>
      <section id="cadastro">
        <h2>Cadastre um Pokemon</h2>
        <form action="/create" method="post">
          <label for="nome">Nome</label>
          <input id="nome" type="text" name="nome" />

          <label for="numero">Numero</label>
          <input id="numero" type="text" name="numero" />

          <label for="tipo">Tipo</label>
          <input id="tipo" type="text" name="tipo" />

          <label for="altura">Altura</label>
          <input id="altura" type="text" name="altura" />

          <label for="peso">Peso</label>
          <input id="peso" type="text" name="peso" />

          <label for="habilidade">Habilidade</label>
          <input id="habilidade" type="text" name="habilidade" />

          <label for="categoria">Categoria</label>
          <input id="categoria" type="text" name="categoria" />

          <label for="descricao">Descrição:</label>
          <input id="descricao" type="text" name="descricao" />

          <label for="imagem"> Link da imagem</label>
          <input id="imagem" type="text" name="imagem" />

          <button id="btnCadastrar" type="submit">Cadastrar</button>
        </form>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
