<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
  </head>
  <body>
    <header></header>
    <main>
      <section id="cadastro">
        <h2>Cadastre um Pokemon</h2>
        <form action="">
          <label for="nome">Nome</label>
          <input id="nome" type="text" name="nome" />

          <label for="descricao">Descrição:</label>
          <input id="descricao" type="text" name="descricao" />

          <label for="tipo">Tipo</label>
          <input id="tipo" type="text" name="tipo" />

          <label for="imagem"> LINK DA iMAGEM</label>
          <input id="imagem" type="text" name="imagem" />

          <button id="btnCadastrar" type="submit">Cadastrar</button>
        </form>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
