@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Press Start 2P", cursive, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}
*::after,
*::before {
  /* box-sizing: border-box; */
}
@media screen and (min-width: 601px) {
  header {
    padding: 2.5rem 0;
    background-color: red;
    background-image: url("../img/pokedex-3d-logo.png");
    background-position: center;
    background-size: 45vmax;
    background-repeat: no-repeat;
    width: 100%;
    height: 8rem;
  }
  header div {
    margin: 0;
    padding-left: 3rem;
  }
  .btn {
    height: 3rem;
    width: 10rem;
    text-decoration: none;
    pointer-events: auto;
    cursor: pointer;
    background: white;
    font-family: "Press Start 2P", cursive, Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: red;
  }
  .btn::before,
  .btn::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .btn--pan {
    font-family: "Press Start 2P", cursive, Arial, Helvetica, sans-serif;
    font-weight: 700;
    border: 3px solid black;
    border-radius: 3vmax;
    overflow: hidden;
  }

  .btn--pan span {
    position: relative;
    mix-blend-mode: difference;
  }

  .btn--pan::before {
    content: "";
    background: rgba(255, 0, 0, 0.904);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  }

  .btn--pan:hover::before {
    transform: scale(1.5) translate3d(0, -100%, 0);
  }
  .btn--pan:hover {
    color: whitesmoke;
  }
  .btn a {
    text-decoration: none;
  }
}
main {
  margin: 0 10rem 0 10rem;
}

#pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.cartas {
  display: flex;
  width: 15rem;
  box-shadow: 3px 3px 3px 3px #00000020;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
}

img {
  width: 100%;
}
h2 {
  margin-bottom: 1rem;
}
p {
  font-family: "Rubik", sans-serif;
}
.descricao {
  margin-bottom: 1rem;
}

.cards {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  transition: all 0.5s ease-in-out 0s;
  color: white;
}
.cards:hover {
  cursor: pointer;
  resize: both;
  transform: scale(1.1);
}

.cards:visited {
  color: black;
}

body {
  background: url(../img/backgroun-forest.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section.mensagem {
  padding: 0.5rem;
  background-color: rgba(170, 3, 3, 0.644);
  color: black;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span.close {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

span.close:hover {
  color: rgb(255, 0, 0);
  transform: scale(1.5);
}

@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }
  img {
    width: 15rem;
  }
  body {
    background-image: url(../img/backgroun-forest.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  header {
    background-color: red;
    background-image: url(../img/pokedex-3d-logo.png);
    background-size: 18rem;
    background-repeat: no-repeat;
    background-position: top 0px center;
    height: 7.5rem;
  }
  header .header {
    display: flex;
    padding-top: 4rem;
    justify-content: center;
  }
  .btn {
    height: 3rem;
    width: 10rem;
    text-decoration: none;
    pointer-events: auto;
    cursor: pointer;
    background: white;
    font-family: "Press Start 2P", cursive, Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: red;
  }
  .btn::before,
  .btn::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .btn--pan {
    font-family: "Press Start 2P", cursive, Arial, Helvetica, sans-serif;
    font-weight: 700;
    border: 3px solid black;
    border-radius: 3vmax;
    overflow: hidden;
  }

  .btn--pan span {
    position: relative;
    mix-blend-mode: difference;
  }

  .btn--pan::before {
    content: "";
    background: rgba(255, 0, 0, 0.904);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  }

  .btn--pan:hover::before {
    transform: scale(1.5) translate3d(0, -100%, 0);
  }
  .btn--pan:hover {
    color: whitesmoke;
  }
  .btn a {
    text-decoration: none;
  }

  main #pokemons .cartas {
    padding: 0 20px;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 3px 3px 3px 3px #00000020;
  }

  main #pokemons img,
  main #pokemons h2,
  main #pokemons p {
    padding-bottom: 1rem;
    color: black;
  }
  .cards {
    width: 19rem;
    text-decoration: none;
    color: black;
    font-family: "Rubik", sans-serif;
    transition: all 0.5s ease-in-out 0s;
    text-shadow: 0.8px 0.8px grey;
  }
  .cards:hover {
    cursor: pointer;
    resize: both;
    transform: scale(1.1);
  }

  .cards:visited {
    color: white;
    text-shadow: 2px 2px black;
  }

  .cards:visited {
    color: black;
  }
}
