@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Press Start 2P", cursive, Arial, Helvetica, sans-serif;

  margin: 0;
  padding: 0;
}
body {
  background-image: url(../img/back-cadastro.png);
  background-size: cover;
}
section#cadastro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 5rem;
}
section#cadastro h2 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
}
section#cadastro form {
  width: 50%;
}
section#cadastro form input {
  border-radius: 15px;
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  outline: none;
  border: solid 2px #c5c5c5;
  margin: 0rem 1rem 1rem 1rem;
}
section#cadastro form label {
  margin: 1rem;
}
section#cadastro form button {
  padding: 1rem;
  width: 10rem;
  display: flex;
  border-radius: 25px;
  justify-content: center;
  margin: 0 auto;
  font-size: 1rem;
  background-color: #fff;
  border: solid 1px red;
  color: red;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
section#cadastro form button:hover {
  background-color: red;
  color: #fff;
}

