@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Press Start 2P", cursive, Arial, Helvetica, sans-serif;
}
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background-image: url(../img/background-detalhes.gif);
  background-size: cover;
  background-repeat: no-repeat;
}
header {
  padding: 5vh 0;
  background-color: rgba(170, 3, 3, 0.644);
  background-image: url("../img/pokedex-3d-logo.png");
  background-position: center;
  background-size:30vmax;
  background-repeat: no-repeat;
  width: 100%;
}
.cartas {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
#texto-detalhes {
  display: flex;
  flex-direction: column;
  padding: 1vmax;
  size: 50%;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px black;
  max-width: 35rem;
}
#img-detalhes {
  display: flex;
  flex-direction: column;
  padding: 1vmax;
  size: 50%;
  align-items: center;
  justify-content: center;
  max-width: 30rem;
}
p {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
/* main {
  display: flex;
  flex: auto;
  background-image: url(../img/background-detalhes.gif);
  background-size: cover;
  background-position: center;
  justify-content: center;
  height: 77vh;
} */

.voltar {
  max-height: 1vmax;
  width: 5vmax;
  text-decoration: none;
  pointer-events: auto;
  cursor: pointer;
  background: #e7e7e7;
  border: none;
  padding: 1.5vmax 3vmax;
  margin-left: 5vmax;
  font-family: "Press Start 2P", cursive, Arial, Helvetica, sans-serif;
  font-size: 1vmax;
  position: relative;
  display: flex;
  color: red;
}

.voltar::before,
.voltar::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.voltar--pan {
  font-family: "Press Start 2P", cursive, Arial, Helvetica, sans-serif;
  font-weight: 700;
  border: 3px solid black;
  border-radius: 3vmax;
  overflow: hidden;
}

.voltar--pan span {
  position: relative;
  mix-blend-mode: difference;
}

.voltar--pan::before {
  content: "";
  background: rgba(255, 0, 0, 0.904);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.voltar--pan:hover::before {
  transform: scale(1.5) translate3d(0, -100%, 0);
}
.voltar--pan:hover {
  color: whitesmoke;
}
